archive.zip

sources/Device/Listings-Debug/*
sources/Device/Objects-Debug/*
sources/Device/Listings/*
sources/Device/Objects/*

sources/Device/Listings-Debug-1602/*
sources/Device/Objects-Debug-1602/*
sources/Device/Listings-1602/*
sources/Device/Objects-1602/*

sources/DeviceEnergy/Listings-Debug/*
sources/DeviceEnergy/Objects-Debug/*
sources/DeviceEnergy/Listings/*
sources/DeviceEnergy/Objects/*

sources/NewSleep/Listings-Debug/*
sources/NewSleep/Objects-Debug/*
sources/NewSleep/Listings/*
sources/NewSleep/Objects/*

sources/Energy/Listings-Debug/*
sources/Energy/Objects-Debug/*
sources/Energy/Listings/*
sources/Energy/Objects/*

sources/generated/*
sources/ThirdParty/wxWidgets/generated/*
